.CSelect {
    cursor: pointer;
    outline: none;
    padding: 15px;
    border: 1.3px solid #e1dede;
    border-radius: 5px;
    width: 100%;
}

@media screen and (max-width:768px) {
    .CInput {
        margin-top: 15px;
    }
}

.GButton {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .GButton {
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
    }
}

.excelButton {
    height: 30px;
    margin-top: 6px;
    border: none;
    background-color: #268d26;
    outline: none;
    color: #fff;
    border-radius: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.excelButton:hover {
    background-color: #27ac27;
}

.ActionStyle {
    display: flex;
    border: none;
    justify-content: space-evenly;
}