@media screen and (max-width:768px) {
    .CInput {
        margin-top: 15px;
    }
}

.GButton {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .GButton {
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
    }
}