.Top_heading {
  color: #832729;
  font-weight: bold
}

@media screen and (max-width:558px) {
  .Top_heading {
    display: none;
  }
}


.content {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}

@media screen and (max-width:500px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:765px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#label-fileComment-upload {
  border: 0.970966px solid rgba(131, 39, 41, 0.4);
  width: 30%;
  height: 180px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  position: relative;
  outline: none;
}

@media screen and (max-width:500px) {
  #label-fileComment-upload {
    width: 100%;
    margin: 10px;
  }
}

@media screen and (max-width:765px) {
  #label-fileComment-upload {
    width: 100%;
    margin: 10px;
  }
}


.top_header {
  background-color: #F0e9e9;
}

.grid-container {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  display: grid;
  column-gap: 30px;
  row-gap: 35px;
}

th {
  font-size: 12px;
  font-family: 'Nunito Sans';
  background: linear-gradient(0deg, #FBE9E0 0%, rgba(251, 232, 223, 0.99625) 0.01%, rgba(255, 195, 165, 0.64) 100%);
}

td {
  font-size: 11px;
}

/* The sidebar menu */
.sideBar {
  margin-top: -56px;
  margin-right: 10px;
  height: 100vh;
  position: fixed;
  left: 0;
  display: flex;
  background: #f2e9e9;
  width: 250px;
  overflow-x: hidden;
  padding-top: 7%;
  z-index: -1;
}

@media screen and (max-width:911px) {
  .sideBar {
    padding-top: 10%;
  }
}

@media screen and (max-width:662px) {
  .sideBar {
    padding-top: 14%;
  }
}

@media screen and (max-width:464px) {
  .sideBar {
    padding-top: 19%;
  }
}

.main {
  overflow-x: hidden;
  margin-left: 250px;
  margin-top: 10px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: -1;
}

@media screen and (max-width: 500px) {
  .sideBar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main {
    margin-left: 0;
  }
}

.reportLast {
  position: fixed;
  bottom: 0;
}

.ReportButton {
  width: 250%;
  margin-left: 30%;
  margin-bottom: 30%;
  padding: 10px;
  border: 1.5px solid #424244;
}

@media screen and (max-width:501px) {
  .ReportButton {
    display: none;
  }
}

.btn {
  background-color: #832729;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover {
  background-color: #945c5c;
}

.SideBarInput {
  padding-left: 13px;
}

@media screen and (max-width:464px) {
  .SideBarInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.DragImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-width: 2px;
  border-radius: 10px;
  border-style: dashed;
  background-color: #fafafa;
  color: black;
  outline: none;
  height: 180px;
  width: 30%;
  transition: border 0.24s ease-in-out;
}

@media screen and (max-width:500px) {
  .DragImage {
    width: 100%;
    margin: 10px;
  }
}

@media screen and (max-width:765px) {
  .DragImage {
    width: 100%;
    margin: 10px;
  }
}