body {
  margin: 0px;
}

.App {
  width: auto;
}

.g-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

#form-file-upload {
  width: 500px;
  height: 200px;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}



.Top_heading {
  color: #832729;
  font-weight: bold
}

@media screen and (max-width:500px) {
  .Top_heading {
    font-size: 12px;
  }
}

.content {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}


@media screen and (max-width:500px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:765px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#label-fileComment-upload {
  border: 0.970966px solid rgba(131, 39, 41, 0.4);
  width: 30%;
  height: 180px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  position: relative;
  outline: none;
}

@media screen and (max-width:500px) {
  #label-fileComment-upload {
    width: 100%;
    margin: 10px;
  }
}

@media screen and (max-width:765px) {
  #label-fileComment-upload {
    width: 100%;
    margin: 10px;
  }
}

#label-file-upload.drag-active {
  background-color: #b92121;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.input-file-upload {
  display: none;
}


.line {
  margin-right: 16px;
  margin-left: 20px;
  float: left;
  flex-direction: row;
  margin-top: 20px;
  text-align: center;
}

.clear {
  clear: both;
}

.column {
  float: left;
  flex-direction: row;
  width: 25%;
  padding: 70px;
  margin-top: 60px;

}


.header {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #F0e9e9;
  position: sticky;
}

.top_header {
  background-color: #F0e9e9;
}

.left {
  margin: auto;
  align-items: center;
  position: sticky;
}


.drawer {
  left: 0px;
  background: #f2e9e9;
  width: 253px;

}

fieldset.PrivateNotchedOutline-root-1.MuiOutlinedInput-notchedOutline {
  border-radius: 32px;
  display: "flex";
  border: 1px solid rgba(131, 39, 41, 0.5);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-width: 2px;
}


.MuiOutlinedInput-root {
  border-radius: 32px;
}

.grid-container {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  display: grid;
  column-gap: 30px;
  row-gap: 35px;
}

.example {
  align-items: flex-start;
}

.areacss {
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 300px;
}

.textarea {
  display: inline-block;
  overflow: hidden;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 320px;
  display: flex;
  box-sizing: border-box;
  height: 140px;
}

.upload {
  float: right;
  margin-right: 25em;
}

.textareadiv {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: none;
  display: flex;
  width: 500px;
  height: 200px;
  margin: 20px;
  align-items: center;
  justify-content: center;
}


.oneline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileinput {
  margin-left: 20px;
  margin-top: 10px;
}

.divider {
  position: relative;
  margin-top: 90px;
  height: 1px;
}

.finaltable {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1rem;
}

.submitbutton {
  width: 125px;
  height: 47px;
  padding: 9.74539px 23.3889px;
  gap: 9.75px;
  width: 120px;
  height: 40px;
  background: linear-gradient(180deg, #832729 0%, rgba(132, 40, 42, 0.61) 100%);
  border: 0.974539px solid #C1B2B1;
  border-radius: 5.84723px;
}

table {
  border-radius: 0px 0px 0px 4px;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 1px 1px 0px 0px #CDD4EB, 0px -1px 0px #CDD4EB;
}

th {
  width: 133px;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  font-family: 'Nunito Sans';
  font-style: normal;
  background: linear-gradient(0deg, #FBE9E0 0%, rgba(251, 232, 223, 0.99625) 0.01%, rgba(255, 195, 165, 0.64) 100%);
}

td {
  font-family: 'Nunito Sans';
  font-style: normal;
  text-align: left;
  padding: 8px;
  font-size: 13px;
  box-shadow: 1px 1px 1px 1px #CDD4EB, 1px -1px 1px #CDD4EB;
  background: #FFFFFF;
}

.deletebutton {
  border: 1px solid #C1B2B1;
  font-weight: 600;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.container img {
  height: 200px;
  width: 200px;
  margin-right: 15px;
}



/* The sidebar menu */
.sideBar {
  margin-top: 0;
  margin-right: 10px;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  display: flex;
  background: #f2e9e9;
  width: 250px;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  overflow-x: hidden;
  margin-left: 250px;
  margin-top: 10px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media screen and (max-width: 500px) {
  .sideBar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main {
    margin-left: 0;
  }
}

.reportLast {
  position: fixed;
  bottom: 0;
}

.ReportButton {
  width: 250%;
  margin-left: 30%;
  margin-bottom: 30%;
  padding: 10px;
  border: 1.5px solid #424244;
}

@media screen and (max-width:501px) {
  .ReportButton {
    display: none;
  }
}

.btn {
  background-color: #832729;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover {
  background-color: #945c5c;
}

.SideBarInput {
  padding-left: 13px;
}

@media screen and (max-width:464px) {
  .SideBarInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.DragImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-width: 2px;
  border-radius: 10px;
  border-style: dashed;
  background-color: #fafafa;
  color: black;
  outline: none;
  height: 180px;
  width: 30%;
  transition: border 0.24s ease-in-out;
}

@media screen and (max-width:500px) {
  .DragImage {
    width: 100%;
    margin: 10px;
  }
}

@media screen and (max-width:765px) {
  .DragImage {
    width: 100%;
    margin: 10px;
  }
}