@media screen and (max-width: 800px) {
    .RegisterLeftStyle {
        display: none;
    }
}

.RegisterLeftStyle {
    background-image: url("../Asset/Img/LoginBg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e4fdfd;
    height: 100vh;
    z-index: -1;
}

.RegisterLeftRight {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.GInput {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c1c4c5;
}

.GInput:hover {
    border-bottom: 1px solid #1899e4;
}

.CButton {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: large;
    border: none;
    background-color: #a46566;
    color: #ffff;
}

.CButton:hover {
    background-color: #832729;
}

/* AlertStyle CSS */
.alertStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}