.LoginPage {
  border-radius: 2px;
  width: 400px;
  margin-top: 70px;
  padding-bottom: 40px;
}

.Logo {
  height: 30px;
}

@media screen and (max-width:500px) {
  .Logo {
    height: 15px;
    margin-top: -10px;
  }
}